{{/* Default data */}}
{{ $title := "Educational journey" }}
{{ $educations := slice
  (dict "title" "Florida International University" "date" "Expected May 2025" "text" "Ph.D. in Computer Science")
  (dict "title" "University of Texas at El Paso" "date" " " "text" "M.S. in Computer Science")
  (dict "title" "University of Dhaka" "date" " " "text" "MBA (Marketing)")
  (dict "title" "North South University" "date" "" "text" "B.S. in Electronic and Telecommunication Engineering")
}}

{{/* Custom data from configuration file */}}
{{ with site.Data.sections.education }}
  {{ $educations = slice }}
  {{ if .title }}{{ $title = .title }}{{ end }}
  {{ if .education }}{{ $educations = .education }}{{ end }}
{{ end }}


<h2 class="text-center p-5 text-4xl md:text-5xl lg:text-7xl font-medium font-poppins text-blue-primary">
  {{ $title }}
</h2>
<div class="-mx-5 flex flex-wrap text-blue-300">
  {{ range $educations }}
    <div class="w-full md:w-1/4 lg:w-1/4 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
          <h4 class="mb-4 text-xl font-light">{{ .date }}</h4>
          <p class="text-lg font-light">
            {{ .text }}
          </p>
        </div>
      </div>
    </div>
  {{ end }}
</div>
