{{/* Default data */}}
{{ $title := "Patents & Publications" }}
{{ $projects := slice
  (dict "title" "" "link" "https://acm.org/" "text" ( slice ""))
  (dict "title" "" "link" "https://ieee.org/" "text" ( slice ""))
  
}}

{{/* Custom data from configuration file */}}
{{ with site.Data.sections.projects }}
  {{ $projects = slice }}
  {{ if .title }}{{ $title = .title }}{{ end }}
  {{ if .project }}{{ $projects = .project }}{{ end }}
{{ end }}


<h2 class="text-center text-4xl md:text-5xl lg:text-7xl p-5 font-medium font-poppins text-blue-primary">
  {{ $title }}
</h2>
{{ range $projects }}
  <div class="mb-9 px-7 p-5 sm:p-9 lg:px-6 xl:px-9 border-b-2 border-gray-300 last:border-b-0 text-gray-600">
    <div>
      <h3 class="mb-4 font-light text-3xl">{{ .title }}</h3>
      {{ range .text }}
        <p class="md:pl-10 py-2 text-xl font-light">
          {{ . }}
        </p>
      {{ end }}
    </div>
    <div class="mt-5">
      <a href="{{ .link }}" target="_blank" class="text-blue-500 hover:underline">{{ .link }}</a>
    </div>
  </div>
{{ end }}
