{{/* Default data */}}
{{ $title := "Don't measure your skills in percentages" }}
{{ $skills := slice
  (dict "title" "Data Indexing" "icon" "bx-book-content" "text" "2 U.S. patents")
  (dict "title" "Storage Systems" "icon" "bx-server" "text" "7 publications")
  (dict "title" "ML Systems" "icon" "bxl-graphql" "text" "2 novel checkpointing solutions")
  (dict "title" "CXL" "icon" "bx-chip" "text" "Novel user-space library, device characterization")
  (dict "title" "Key-Value SSD" "icon" "bxs-hdd" "text" "1 U.S. patent, 3 data indexing schemes, 1 KV emulator")
  (dict "title" "Persistent Memory" "icon" "bxs-memory-card" "text" "2 libraries for NVDIMM- and CXL-attached PM")
}}

{{/* Custom data from configuration file */}}
{{ with site.Data.sections.skills }}
  {{ $skills = slice }}
  {{ if .title }}{{ $title = .title }}{{ end }}
  {{ if .skill }}{{ $skills = .skill }}{{ end }}
{{ end }}


<h2 class="text-4xl md:text-5xl lg:text-7xl p-5 text-center font-medium font-poppins text-blue-primary">
  {{ $title }}
</h2>
<div class="-mx-5 flex flex-wrap text-blue-primary text-center">
  {{ range $skills }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <i class="bx {{ .icon }} text-5xl mx-auto pb-5"></i>
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
          <p class="text-lg font-light">
            {{ .text }}
          </p>
        </div>
      </div>
    </div>
  {{ end }}
</div>
